# Ignora archivos .env xd
**/.env
# Ignora cachés de Python
__pycache__/
*.py[cod]
*$py.class
# C extensiones
*.so

# Ignora archivos .pt
*.pt

#ignora fotos
assets/img/juan.jpeg
**/.jpg
**/.png
**/.webm
